@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.header {
  text-align: center;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  background: #23074d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cc5333,
    #23074d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cc5333,
    #23074d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
